
.cm-gutter.cm-lineNumbers {
  height: 22px;
  width: 48px;
  text-align: right;
  font: var(--body-sm) !important;
  color: var(--grey-910);
  margin-bottom: 2px;
}


.cm-content.cm-readonly {
  .cm-line {
    span {
      font: var(--body-sm);
    }
  }
}

.sp-tab-button {
  visibility: hidden;
  pointer-events: none;
  position: relative;
  &:after {
    position: absolute;
    visibility: visible;
    content: url("../public/assets/dots.png");
    width: 30px;
    font: var(--body-sm);
    color: var(--grey-910);
  }
}

.sp-layout {
  &:after {
    display: block;
    border-radius: 8px;
    // content: url("data:image/svg+xml;charset=UTF-8, <svg width='735' height='22' viewBox='0 0 735 22' fill='none' xmlns='http://www.w3.org/2000/svg' version='1.1'><path d='M1 21.5L21.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M8.5 21.5L29 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M16 21.5L36.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M23.5 21.5L44 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M31 21.5L51.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M38.5 21.5L59 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M46 21.5L66.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M53.5 21.5L74 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M61 21.5L81.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M68.5 21.5L89 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M76 21.5L96.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M83.5 21.5L104 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M91 21.5L111.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M98.5 21.5L119 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M106 21.5L126.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M113.5 21.5L134 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M121 21.5L141.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M128.5 21.5L149 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M136 21.5L156.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M143.5 21.5L164 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M151 21.5L171.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M158.5 21.5L179 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M166 21.5L186.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M173.5 21.5L194 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M181 21.5L201.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M188.5 21.5L209 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M196 21.5L216.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M203.5 21.5L224 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M211 21.5L231.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M218.5 21.5L239 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M226 21.5L246.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M233.5 21.5L254 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M241 21.5L261.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M248.5 21.5L269 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M256 21.5L276.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M263.5 21.5L284 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M271 21.5L291.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M278.5 21.5L299 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M286 21.5L306.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M293.5 21.5L314 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M301 21.5L321.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M308.5 21.5L329 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M316 21.5L336.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M323.5 21.5L344 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M331 21.5L351.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M338.5 21.5L359 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M346 21.5L366.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M353.5 21.5L374 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M361 21.5L381.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M368.5 21.5L389 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M376 21.5L396.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M383.5 21.5L404 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M391 21.5L411.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M398.5 21.5L419 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M406 21.5L426.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M413.5 21.5L434 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M421 21.5L441.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M428.5 21.5L449 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M436 21.5L456.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M443.5 21.5L464 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M451 21.5L471.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M458.5 21.5L479 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M466 21.5L486.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M473.5 21.5L494 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M481 21.5L501.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M488.5 21.5L509 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M496 21.5L516.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M503.5 21.5L524 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M511 21.5L531.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M518.5 21.5L539 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M526 21.5L546.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M533.5 21.5L554 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M541 21.5L561.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M548.5 21.5L569 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M556 21.5L576.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M563.5 21.5L584 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M571 21.5L591.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M578.5 21.5L599 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M586 21.5L606.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M593.5 21.5L614 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M601 21.5L621.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M608.5 21.5L629 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M616 21.5L636.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M623.5 21.5L644 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M631 21.5L651.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M638.5 21.5L659 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M646 21.5L666.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M653.5 21.5L674 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M661 21.5L681.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M668.5 21.5L689 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M676 21.5L696.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M683.5 21.5L704 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M691 21.5L711.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M698.5 21.5L719 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M706 21.5L726.5 1' stroke='#B0AFB3' stroke-linecap='round'/><path d='M713.5 21.5L734 1' stroke='#B0AFB3' stroke-linecap='round'/></svg>");
    // content: url("../public/assets/line-shadow.png");
    width: 100%;
    height: 20px;
    // background-size: 28px 28px;
    background-image: url("../public/assets/lines-editor.svg");
    display: inline-flex;
    content: ' ';
    background-size: 20px auto;



  }
}

.sp-layout.custom-layout {
  border-color: var(--grey-500) !important;
  border-radius: 8px;
  .sp-stack {
    height: 347px !important;
    .sp-tabs {
      border-bottom: 1px solid var(--grey-500) !important;

    }
  }
  .cm-editor {
    border-bottom: 1px solid var(--grey-500) !important;
  }
  .sp-tabs-scrollable-container {
    min-height: 44px;
  }
}
